html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: white;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: #1e1e1e;
  color: #000;
  position: fixed;
}

.btn-container {
  position: fixed;
  right: 0;
  margin: 30px;
  font-size: 40px;
}

.menu {
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.menu-item {
  font-size: 140px;
  margin: 4px;
  overflow: hidden;
  margin-top: -50px;
}

.menu-item-wrapper {
  display: flex;
  position: relative;
  left: -20%;
  transition: all 0.2s ease-out;
}

ion-icon {
  position: relative;
  top: 8px;
  margin-right: 20px;
  /* font-size: 100px; */
  color: #866de7;
}

.menu-item:hover .menu-item-wrapper {
  left: 0;
}

a {
  text-decoration: none;
  color: #dadada;
  font-family: 'Helvetica';
  font-weight: 400;
}
